@model JungleBook.Models.ViewModels.SearchByInterestsViewModel

@{
    ViewData["Title"] = "ShowEvents";
}


<div class="container-fluid">
<h5>Recommendations By Interests</h5>
<h6> Select some interests to see what we recommend</h6>
<p>
    <button class="btn-sm btn-primary" data-toggle="collapse" data-target="#selectInterests" role="button" aria-expanded="false" aria-controls="selectInterests">Toggle Choices</button>
</p>
<div class="row">
    <div class="col-sm-auto">
        <div class="collapse" id="selectInterests">
            <form id="SearchByInterestsForm" asp-action="SelectInterests" asp-controller="Travelers">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Trip.TripId" />
                <div class="form-group">
                    <label asp-for="Interests" class="control-label"></label>
                    <select asp-for="SelectedInterest" asp-items='Model.Interests' class="form-control"></select>
                    <span asp-validation-for="SelectedInterest" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DestinationOptions" class="control-label">Destination Options</label>
                    <select asp-for="SelectedDestinations" asp-items="Model.DestinationOptions" class=" form-control"></select>
                    <span asp-validation-for="SelectedDestinations" class="text-danger"></span>
                    @*@using (Html.BeginForm(Model.selectedDestinations))
                    {
                        @Html.ListBoxFor(m => m.selectedDestinations, Model.DestinationOptions, Model.selectedDestinations)
                    }*@
                </div>
                <div class="form-group">
                    <input type="submit" value="See whats out there" class="btn btn-primary" id="InterestsSearchButton" />
                </div>
            </form>
        </div>
    </div>
</div>

@*@if (Model.ListOfCampingResults != null)
{
    @foreach (CampingResult campingResult in Model.ListOfCampingResults)
    {
        <div class="container">
            <div class="col">
                <div class="card-columns">
                    @foreach (Campground item in campingResult.campgrounds)
                    {
                        <div class="card">
                            @if (item.imgUrl != null)
                            {
                                <img class="card-img-top" src="@item.imgUrl">
                            }
                            <div class="card-body">
                                <h4 class="card-title">@item.name</h4>
                                <a href="@item.url" class="btn btn-primary">Check Their Page</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
     }
}*@
@if (Model.ListOfHikingResults != null)
{
    @foreach (var hikingResult in Model.ListOfHikingResults)
    {
        <div class="container">
            <div class="col">
                <div class="card-columns">
                    @foreach (var item in hikingResult.trails)
                    {
                        <div class="card">
                            @if (item.imgSmall != null)
                            {
                                <img class="card-img-top" src="@item.imgSmall">
                            }
                        <div class="card-body">
                            <h4 class="card-title">@item.name</h4>
                            <p class="card-text">@item.summary</p>
                            <p class="card-text">@item.location</p>
                            <a href="@item.url" class="btn btn-primary">Check Their Page</a>
                            @*<button onclick="externalPage" class="btn btn-primary">Check Their Page</button>
        <div id="externalPage">
            <iframe src="@item.url" style="border:none;"></iframe>
        </div>*@
                        </div>
                        </div>
                    }
                </div>

            </div>
        </div>
     }
}
@if (Model.ListOfPlaceResults != null)
    @foreach (var placeResults in Model.ListOfPlaceResults)
    {
        <div class="container">
            <div class="col">
                <div class="card-columns">
                    @foreach (var item in placeResults.results)
                    {
                        <div class="card">
                            @if (item.icon != null)
                            {
                                <img class="card-img-top" src="@item.icon">
                            }
                            <div class="card-body">
                                <h4 class="card-title">@item.name </h4>
                                <p class="card-text">@item.rating, out of @item.user_ratings_total reviews.</p>
                            </div>
                            
                        </div>
                    }
                </div>
            </div>
        </div>
    }
</div>

