@model JungleBook.Models.ViewModels.DetailsViewModel

@{
    ViewData["Title"] = "TripDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>TripDetails</h1>

<div>
    <h4>Trip</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Trip.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Trip.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Trip.EstimatedCost)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Trip.EstimatedCost)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Trip.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Trip.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Trip.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Trip.EndDate)
        </dd>

        <dt class="col-sm-2">
            Destinations
        </dt>
       
        <dd class="col-sm-10">
            @foreach (var item in Model.Trip.Destinations)
            {
                @($"{item.Name} \n ")
            }
        </dd>
        <dt>
           Travel Recommendation
        </dt>
        <dd>
            @Model.Message
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Trip.TripId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
