@model JungleBook.Models.Trip

@{
    ViewData["Title"] = "TripDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>TripDetails</h1>

<div>
    <h4>Trip</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EstimatedCost)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EstimatedCost)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt class="col-sm-2">
            Destinations
        </dt>
       
        <dd class="col-sm-10">
            @foreach (var item in Model.Destinations)
            {
                @($"{item.Name} ")
            }
        </dd>
        
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TripId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
